@using MyMvcProject.Data.Entities
@model ProductViewModel

@{
    List<string> categoriesList = ViewData["Categories"] as List<string>;
    List<Material> materialsList = ViewData["Materials"] as List<Material>;
    //double productionCost =(double)ViewData["ProductionCost"];
    float productionCost = 0;
}

<h1 class="text-center">Edit product "@Model.Name"</h1>

<div style="width:100%">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div style="width:50%;float:left">
            <h4 class="text-center">General Info</h4>
            <hr class="btn-info mt-3" />
            
            <div class="form-group">
                <img src="@Url.Content("/images/Products/" + @Model.ImagePath)" width="300" height="200" asp-append-version="true" id="imgControl" />
            </div>
            <div class="form-group">
                <input type="file" asp-for="@Model.Image" class="form-control" id="inputControl" onchange="setSrc()" />
            </div>
            <hr class="btn-info mt-3" />
            <div class="form-group">
                <label>Code</label>
                <input type="text" asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <hr class="btn-info mt-3" />
            <div class="form-group">
                <label>Name</label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <hr class="btn-info mt-3" />
            <div class="form-group">
                <label>Category</label>
                <select asp-for="Category" class="form-control">
                    @foreach (var category in categoriesList)
                    {
                        <option>@category</option>
                    }
                </select>
            </div>
            <hr class="btn-info mt-3" />
            <div class="form-group">
                <label>In Stock</label>
                <input asp-for="InStock" value="0" readonly class="form-control" />
                <span asp-validation-for="InStock" class="text-danger"></span>
            </div>
            <hr class="btn-info mt-3" />
            <div class="form-group">
                <label>Price</label>
                <input  asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <hr class="btn-info mt-3" />
        </div> 
        
        <div style="width:50%;float:right">
            <h4 class="text-center">Specification</h4>
            <hr class="btn-info mt-3" />

            <div class="row">
                <div style="overflow-y:scroll;height:400px;" class="ml-3">
                    <div id="productDetails">

                    </div>
                </div>

                <div>
                    <select id="lstMaterials" class="form-control-sm ml-3">
                        @foreach (var material in materialsList)
                        {
                            <option>@material.Name</option>
                        }
                    </select>

                    <input type="number" id="inputQuantity" class="form-control-sm mt-3 ml-3" />

                    <input type="button" id="btnAdd" value="Add" onclick="addProductRow()" class="btn btn-primary rounded ml-3" />


                </div>

                <select id="lstPrice" hidden>
                    @foreach (var material in materialsList)
                    {
                        <option>@material.Price</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <input id="inputTotal" readonly value=@ViewData["ProductionCost"] class="form-control" />
        </div>

        <input readonly class="form-control text-danger" value="@ViewData["Error"]" />

        <div>
            <input type="submit" value="Save Changes" class="btn btn-primary rounded mt-3" />
        </div>
    </form>

    <script type="text/javascript">
        window.onload = (function() {
        @if (Model.ProductDetailsList != null)
        {
            @foreach (var item in Model.ProductDetailsList)
            {
                Material materialItem = materialsList.Where(e => e.Name == item.Material).Single();
                productionCost += materialItem.Price * item.Quantity;
                
                <text>
                        populateProductRows("@item.Material", @item.Quantity);
                        populateProductTotal(@productionCost);
                </text>
            }
        }

                                                        });
    </script>
</div>

<script src="~/js/products.js" asp-append-version="true"></script>